
body
{
	text-align: center;
}

h4
{
  font-weight: bold;
}

ul{
  list-style: none;
}
ul li
{
  display: inline-block;
}

select
{
  max-width: 300px;
  border-color: #CCCCCC;
  height: 28px;
}

.listas
{
    width: 185px;
    margin-left: 10px;
    border-radius: 5px;
    padding-top: 5px;
    -webkit-border-radius: 5px 10px;  /* Safari  */
    -moz-border-radius: 5px 10px; 
}

.btnAgregar
{
  position: relative;
  max-width: 1160px;
 
}
.btnAgregar button
{
  position: absolute;
  right: 0px;
  top:-42px;

}

.btnRegresar
{
  position: relative;
  max-width: 1160px;
}
.btnRegresar button
{
  position: absolute;
  left: 30px;
  top:-42px;
}


.botonMenu
{
  display: inline-block;
  background-color: red;
}
.botonesFiltro
{
  border-top: solid 1px gray;
  padding-top: 1em;
  border-bottom: solid 1px gray;
  margin-bottom: 1em;
  text-align: left;
}
.botonesFiltro select
{
  width: 200px;
}

.botonesFiltro ul
{
list-style: none;

}

.botonesFiltro ul li
{
 display: inline-block;
  font-weight: none;
}

.btnColor
{
  background: red;
}

.btnVerNegocio{
    
}

.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-igresar{
  background-color: #2780e3;
  border-color: #2780e3;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;

}
.btn-cancelar{
  background-color: black;
  margin-top:15px;
  color: white; 
}
.btn-aceptar
{
  background-color: #0099ff;
  margin-top:15px;
  color: white;
}

.btnImagen
{

  width: 35px;
  margin-right: 1em;
  margin-left: 1em;
}

.btn-twitter {
  color: #ffffff;
  background-color: #4099FF;
  border-color: #4099FF;
}
.centrar {
  text-align: center;
  

}

.correct {
  background-color: green;
}

.correctBorder {
  border-color: green;
}

.checketlist{
  margin-right: 10px;
  
}
.datoCompartido{

  width: 48%;
}

.datoCompartido ul{

  
  padding: 0px;
  margin: 0px;

}

.datoCompartido ul label{

  font-weight: bold;

}


.datoCompartidoUl{
  margin-top: 1em;
}

.datosIncorrectosBorder{
  border-color: yellow;
}

.datosPupap
{
  margin-top: 2em;
  margin-bottom: 2em;
}

.datosPupap ul
{
  list-style: none;

}
.datosPupap ul li
{
  display: inline-block;
  font-weight: none;
 
}

.datosPupap ul .datos
{
  text-align: left;
  width: 75%;

}

.datosPupap ul .datos .estrellas
{
  width: 20px;
}

.datosPupap ul .title
{
  text-align: left;
  width: 20%;
  font-weight: bold;
 
}
.detalle
{
  max-width: 350px;
  margin: 0 auto;
  border-top: 1px solid gray;
  padding-top:1em;
}
.detalle ul
{
  margin: 0px;
  padding: 0px;

}

.detalle ul .title
{
  text-align: left;
  width: 40%;
  

}
.detalle ul .datos
{
  padding-left: 1em;
  text-align: left;
  width: 55%;
}

.dtpicker
{
  text-align: left;
  
}

.estadoAprobados
{
  background-color:red;
  color: white;

}
.estadoPendiente
{
  background-color:blue;
  color: white;
}

.estadoBloqueadoIntentos
{
  background-color:brown;
  color: white;

}
.estadoBloqueado
{
  background-color:black;
  color: white;
}

.estadoHabilitado
{
  background-color:green;
  color: white;

}

.error {
  background-color: red;
}

.errorBorder {
  border-color: red;
}


.inicial{
  background-color: black;
}

.inicialBorder{
   border-color: #BDBDBD;
}
.errorText{
color:red;


}


.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.filtrosGrilla
{
    margin-top: 25px;
    margin-bottom: 8px;
    border-top: solid 1px #DACDCD;
    padding-top: 8px;
}
.formElemMax
{
  max-width: 300px;
}

.formulario
{
  border-top: solid 1px gray;
  padding-top: 1em;
}

.formulario-NumDos
{
  margin-top: 80px;
}

.imagenPublicidad img{

  height: 120px;
  
}

.loggin-logo{

  width: 100%;
}


.modal-content div
{
 margin-bottom: 1em;
}

.negocioUsuario
{
  border: 1px solid gray;
  padding-left: 3em;
}

.negocioTituloUsuario
{
 
  text-align: left;
  font-weight: bold;

}

.number
{
  max-width: 150px;

}

.tablaListar{

margin-top: 2em;


}

#contenedorChart
{
    text-align: center;
    margin: 0px auto;
    width: 95%;
}
#contenedorCharts > div
{
    display: inline-block;
    width: 49%;
}
#contenedorCharts
{
    text-align: center;
    margin: 0px auto;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 40px;
}
.selectChart
{
  margin-top: 10px;
  margin-bottom: 20px;
}

.centrar
{
  margin: 0 auto;
  text-align: center;
}


.formTitulo{
  
  width: 47%;
  text-align: right;
}
.formTitulo label
{
  
  width: 180px;
  position: relative;


}
.formTitulo label span
{
  
  max-width: 180px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  font-weight: 700;

}

.formCentro{
  width: 47%;
  text-align: right;
}

.formCentro label{
  width: 200px;
  position: relative;
}

.formCentro label span {
  width: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: left;
  font-weight: 700;
}


.formControl
{
  
  width: 49%;
  text-align:left;
}

.formControl span
{
      margin-right: 10px;
}

.tableDatalles
{
  width: 100%
}
.tableDatalles tr
{
  margin-bottom: 10px;
}
.tableDatalles tr .tituloDetalle
{
  text-align: left;
  font-weight:bold;
}
/*  popUPs */

.popUpContent{
  border-radius: 15px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

.popUpHeader{
  background-color: #0099ff;
  color: white;
  border-radius: 10px 10px 0px 0px;
  height: 40px;

}
.popUpTitle{
  font-weight: normal;
  margin-top: -9px;
}

.popDatos ul{
  padding: 0px;
}
.popDatos li{
  width: 48%; 
}

.popDatos .popDatosLabel
{
  text-align: left;
  padding-left:10%;
}
.popDatos .popDatosLabel input{
  width: 80px;
}
.popDatos .popDatosControl
{
 text-align: left; 
}
.popDatos .popDatosControl span
{
  margin-right: 5px;
}
.popDatos .popDatosControl input[type="number"]
{
  width: 120px;
}
.waiting-box {
    display: block;
    position: fixed; /* fixed position so it doesn't scroll */
    z-index: 9999; /* on top of everything else */
    width: 250px;
    margin-left: -125px; /* horizontally centered */
    left: 50%;
    top: 10px; /* displayed on the top of the page, just like Gmail's yellow info-box */
    height: 60px;
    padding: 10px;
    background-color: #f3e9b5;
    border-radius: 4px;
}

.navbar{
  min-height: 20px;
}
.navbar-brand{
  padding: 0px 0px;
  height: 5px;
}
.navbar .btn{
padding: 5px 5px;
font-size: 14px;

}
