<div class="modal fade" id="popupError404" tabindex="-1" role="dialog" aria-labelledby="popupError404" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content popUpContent" ng-click="cerrarPupUp()" >
            
            <div class="modal-header popUpHeader">
                          <h4 class="modal-title popUpTitle">Mensaje</h4>
                      </div>
                      <div class="modal-body">
                        <p>Se ha producido un error accediendo al servidor. Por favor validar con su administrador de red que se tengan acceso al puerto 8051</p>
                      </div>
                    

              </div>
          </div>
</div>

