

<div >
    
    <div class="container-fluid">

      <!--  Panel de Loggeo -->

       
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> CAMBIAR CONTRASEÑA</h3>
            </div>

            <div class="panel-body" >


                 <!-- Formulario de ingreso-->
       
                  <form class="form-horizontal" name="logginForm" ng-submit="cambiarClaveUsuario(logginForm.$valid)" novalidate>


                    <fieldset>
                         <div>
                               <img class="loggin-logo" src="img/logoEmpresa.png"/>
                          </div>
                        

                         <div  >



                                <div class="input-group" ng-class="{'has-error' : logginForm.claveAnterior.$invalid  && submitted}">

                                        <span class="input-group-addon inicial"><span class="glyphicon glyphicon-modal-window"></span></span>


                                        
                                        <input  type="password" name="claveAnterior" placeholder="Ingrese su anterior contraseña"class="form-control" ng-model="formData.claveAnterior" required  >
                                       
                                       <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->
                                         
                                 </div>

                                <div class="input-group" ng-class="{'has-error' : logginForm.nuevaClave.$invalid  && submitted}">

                                        <span class="input-group-addon inicial"><span class="glyphicon glyphicon-modal-window"></span></span>


                                        
                                        <input  type="password" name="nuevaClave" placeholder="Ingrese nueva contraseña"class="form-control" ng-model="formData.nuevaClave" required  >
                                       
                                       <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->
                                         
                                 </div>
                                 <div class="input-group" ng-class="{'has-error' : logginForm.repitaNuevaClave.$invalid  && submitted}">

                                        <span class="input-group-addon inicial" ><span class="glyphicon glyphicon-modal-window"></span></span>


                                        
                                        
                                        <input  type="password" name="repitaNuevaClave" placeholder="Repita nueva contraseña"class="form-control" ng-model="formData.repitaNuevaClave" required  >
                                       
                                       <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->
                                         
                                 </div>

                                <p class="errorText">{{erroresLoggin}}</p>

                        </div>           
                      <div >
                      
                            <div>
                            <button type="submit" class="btn btn-igresar" >Cambiar contraseña</button>
                            </div>
                                            
                     
                      </div>
                      
                  

                    </fieldset>
                  </form>


                  <!-- /Formulario de ingreso-->
              
            </div>
        </div>

      <!--  /Panel de Loggeo -->

    </div>


</div>

<!-- ****************** DIRECTIVES   ************** -->

<mensaje-save-data></mensaje-save-data>
<mensaje-delete-data></mensaje-delete-data>
<mensaje-Update-Data></mensaje-Update-Data>
<mensajes-errores-globales></mensajes-errores-globales>



<!-- ****************** fin DIRECTIVES   ************** -->
