<div>

          <h2> ADMINISTRAR USUARIO</h2>

        <button type="button" class="k-button btn-aceptar" data-toggle="modal" data-target="#popupNuevoUsuario" ng-click="ListarRoles('crear')">Nuevo Usuario</button>
            
     <div class="modal fade" id="popupNuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" >

              <form class="form-horizontal" name="AgregarusuarioForm" novalidate>


               <fieldset>

              <h4>Ingresar Nuevo Usuario</h4>

              <div class=" datosPupap ">
          
       
              <div class="form-group ">
                <label for="inputNombre" class="col-lg-4 control-label">Nombre</label>
                <div class="col-lg-8">
                  <input type="text" class=" k-textbox" name="inputNombre" id="inputNombre" placeholder="Nombre" ng-model="formData.nombres" required ng-class="{ 'errorBorder' : AgregarusuarioForm.inputNombre.$invalid   && submitted  }">
        
                </div>
              </div>
           
               <div class="form-group ">
                <label for="inputApellido" class="col-lg-4 control-label">Apellido</label>
                <div class="col-lg-8">
                  <input type="text" class=" k-textbox" name="inputApellido" id="inputApellido" placeholder="Apellido" ng-model="formData.apellidos" required ng-class="{ 'errorBorder' : AgregarusuarioForm.inputApellido.$invalid   && submitted  }">
      
                </div>
              </div>
          
            
             
              <div class="form-group ">

                <label for="inputEmail" class="col-lg-4 control-label">Correo</label>
                <div class="col-lg-8">
              
                  <input type="email" id="inputEmail" name="inputEmail" class="k-textbox correoUsuario" ng-model="formData.correo" placeholder="e.g. correo@dominio.com" ng-class="{ 'errorBorder' : AgregarusuarioForm.inputEmail.$invalid   && submitted  }" required />
               
                </div>

              </div>

         
           

              <div class="form-group number-group ">
                <label for="inputTelefono" class="col-lg-4 control-label ">Teléfono</label>
                <div class="col-lg-8" >
                  <input type="text" class=" k-textbox" name="inputTelefono" id="inputTelefono" placeholder="Teléfono" ng-model="formData.telefonoContacto"required ng-class="{ 'errorBorder' : AgregarusuarioForm.inputTelefono.$invalid && submitted}" >
                  
                </div>
              </div>
               
              
              <div class="form-group ">
                <label for="inputDni" class="col-lg-4 control-label ">DNI</label>
                <div class="col-lg-8">
                  <input type="number" class=" k-textbox number" name="inputDni" id="inputDni" placeholder="DNI" ng-model="formData.DNI" required  ng-minlength="8" ng-maxlength="8" ng-class="{ 'errorBorder' : AgregarusuarioForm.inputDni.$invalid   && submitted  }">

     
                </div>
              </div>

               <div class="form-group">
                <label for="inputDni" class="col-lg-4 control-label ">Rol</label>

                  <select size="3" ng-model="formData.rol" class="listas" >
                    <option ng-repeat="roles in roles" value="{{roles.id}}" >{{roles.rol}}</option>
                  </select>

              </div>
             
             
            </div>

              <div class="modal-footer piePuppap">
                <button type="button" class="k-button btn-cancelar" data-dismiss="modal" >Cancelar</button>
                <button type="submit" class="k-button btn-aceptar" ng-click="submitForm(formData,'0',AgregarusuarioForm.$valid)">Agregar</button>
           </div>

            </fieldset>
            </form>
             </div>
          </div>
        </div>

        <div class="modal fade" id="popupEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="popupEditarUsuario" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" >
              <form class="form-horizontal" name="editarUsuarioForm" novalidate>
                <fieldset>
                  <h4>Editar Usuario</h4>
                    <div class=" datosPupap ">
                      <div class="form-group ">
                        <label for="inputNombre" class="col-lg-4 control-label">Nombre</label>
                        <div class="col-lg-8">
                          <input type="text" class="k-textbox" name="inputNombre" id="inputNombre" placeholder="Nombre" ng-model="editData.nombres" required ng-class="{ 'errorBorder' : editarUsuarioForm.inputNombre.$invalid   && submitted  }">
                    
                        </div>
                      </div>
                      <div class="form-group ">
                        <label for="inputApellido" class="col-lg-4 control-label">Apellido</label>
                        <div class="col-lg-8">
                          <input type="text" class=" k-textbox" name="inputApellido" id="inputApellido" placeholder="Apellido" ng-model="editData.apellidos" required ng-class="{ 'errorBorder' : editarUsuarioForm.inputApellido.$invalid   && submitted  }">
                         
                        </div>
                      </div>
                      <div class="form-group ">

                        <label for="inputEmail" class="col-lg-4 control-label">Correo</label>
                        <div class="col-lg-8">
                          <input type="email" class=" k-textbox correoUsuario" name="inputEmail" id="inputEmail" placeholder="correo@dominio.com" ng-model="editData.correo"required ng-class="{ 'errorBorder' : editarUsuarioForm.inputEmail.$invalid   && submitted  }">
                         
                         
                        </div>
                      </div>
                      <div class="form-group number-group ">
                        <label for="inputTelefono" class="col-lg-4 control-label ">Teléfono</label>
                        <div class="col-lg-8">
                          <input type="text" class=" k-textbox" name="inputTelefono" id="inputTelefono" placeholder="Teléfono" ng-model="editData.telefonoContacto"required ng-class="{ 'errorBorder' : editarUsuarioForm.inputTelefono.$invalid   && submitted  }">
                         
                        </div>
                      </div>
                      <div class="form-group ">
                        <label for="inputDni" class="col-lg-4 control-label ">DNI</label>
                        <div class="col-lg-8">
                          <input type="number" class=" k-textbox" name="inputDni" id="inputDni" placeholder="DNI" ng-model="editData.DNI" required  ng-minlength="8" ng-maxlength="8" ng-class="{ 'errorBorder' : editarUsuarioForm.inputDni.$invalid   && submitted  }">
                         
                        </div>
                      </div>

                          <div class="form-group">
                            <label for="inputDni" class="col-lg-4 control-label ">Rol</label>
                            <select size="3" ng-model="editData.rol" class="listas" >
                              <option ng-repeat="roles in roles" value="{{roles.id}}" >{{roles.rol}}</option>
                            </select>
                          </div>

                    </div>
                  <div class="modal-footer piePuppap">
                    <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-if="editData.estado=='BI'" ng-click="desbloquearUsuario()" class="k-button btn-cancelar" data-dismiss="modal">Desbloquear</button>
                    <button type="submit" class="k-button btn-aceptar" ng-click="editarUsuario(editData,editarUsuarioForm.$valid)">Actualizar</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

<!-- Modal de usuario existente Inactivo -->


    <div class="modal fade" id="popupUsuarioExistente" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
        <div class="modal-dialog">
                  <div class="modal-content" >

                <h4>El usuario ya existe pero se encuentra inhabilitado</h4>
                <p> ¿Que acción desea realizar? </p>
                
               
                <button type="button" class="btn btn-primary" ng-click="submitForm(formData,'1')" >Crear nuevo Usuario con los mismos datos exitentes</button>
                <button type="button" class="btn btn-primary" ng-click="submitForm(formData,'2')" >Reactivar usuario</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
              
              </div>
        </div>
    </div>

<!-- Modal de usuario existente Inactivo -->

<!-- Modal eliminar usuario -->
<div class="modal fade" id="popupEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content" >
    
                      <h4>Eliminar Usuario</h4>
                      <h5>¿Esta seguro que desea eliminar a este usuario?</h5>

                        <div class="modal-footer piePuppap">
                                  <button type="submit" class="btn btn-primary" ng-click="EliminarUsuario()" >Eliminar</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                 
                        </div>

              </div>
        </div>
</div>
<!-- Fin Modal eliminar usuario -->


<!-- modal error -->

                  <div class="modal fade" id="popupErrores" tabindex="-1" role="dialog" aria-labelledby="popupNuevoUsuario" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content" >
    
                      <h4>{{errorTittle}}</h4>
                      <h5>{{errorMensaje}}</h5>

                        <div class="modal-footer piePuppap">
                                
                                  <button ng-if='errorFuncion=="reanudarPantalla"' type="button" class="btn btn-default" ng-click="reanudarPantalla()" data-dismiss="modal">Aceptar</button>

                                  <button ng-if='errorFuncion=="cierreDeSesion"' type="button" class="btn btn-default" ng-click="cierreDeSesion()" data-dismiss="modal">Aceptar</button>

                                  <button ng-if='errorFuncion=="ningunaFuncion"' type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                                 
                        </div>

                </div>
           </div>
        </div>

<!-- Fin modal error -->
</div>





      <!--  /pop up agregar usuario-->

<div id="grid" class="tablaListar"  k-options="gridOptions"
  kendo-grid="gridUACliente"  k-data-source="registrations" k-selectable="'row'"
  k-columns="registrationsColumns"
  k-sortable="false"  k-filterable="false"
  k-on-change="selectedItem = data"
  k-auto-bind="false" 
  k-options="gridOptions"


></div>
     
<!-- ****************** DIRECTIVES   ************** -->

<mensaje-save-data></mensaje-save-data>
<mensaje-delete-data></mensaje-delete-data>
<mensaje-Update-Data></mensaje-Update-Data>
<mensajes-errores-globales></mensajes-errores-globales>


<!-- ****************** fin DIRECTIVES   ************** -->





