<div class="modal fade" id="popupMensajesErrorCheque" tabindex="-1" role="dialog" aria-labelledby="popupMensajesErrorCheque" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content popUpContent" ng-click="cerrarPupUp()" >
    				
    				<div class="modal-header popUpHeader">
                          <h4 class="modal-title popUpTitle">Mensaje</h4>
                      </div>
                      <div class="modal-body">
                        <p>Porfavor debe ingresar los campos.</p>
                        <p><strong>Quien Cobra</strong></p>
                        <p><strong>Número de Operación</strong></p>
                        <p><strong>Fecha de Cobro</strong></p>
                      </div>
                    

              </div>
          </div>
</div>


