<div class="modal fade" id="popupMensajesDelete" tabindex="-1" role="dialog" aria-labelledby="popupMensajesDelete" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content popUpContent" ng-click="cerrarPupUp()" >
    				
    				<div class="modal-header popUpHeader">
                          <h4 class="modal-title popUpTitle">Mensaje</h4>
                      </div>
                      <div class="modal-body">
                        <p>Se ha eliminado con éxito.</p>
                      </div>
                    

              </div>
          </div>
</div>


