<div class="modal fade" id="popupMensajes" tabindex="-1" role="dialog" aria-labelledby="popupMensajes" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content" >
    
                      <h4>{{mensajeTittle}}</h4>
                      <h5 ng-repeat="mensaje in mensajeMensaje">{{mensaje}}</h5>

                      <div class="modal-footer piePuppap">
                                
                          <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                                 
                      </div>

              </div>
          </div>
</div>
