  <div  ng-controller="fileKendoCtrl" ng-cloak>
            <div style="width:400px;">
             <h4>Upload files</h4>
            <input name="files"
                   type="file"
                   kendo-upload
                   k-async="uploadOptions"
                   k-select="onSelect"
                   k-upload="onUpload"
                   />
            </div>
        </div>