

<div >
    
    <div class="container-fluid">

      <!--  Panel de Loggeo -->

       
        <div class="panel panel-primary">
                  <div>
                               <img class="loggin-logo" src="img/logoEmpresa.png"/>
                          </div>
            <div class="panel-heading">
     

                           <h3 class="panel-title"> INICIO DE SESIÓN </h3>
            </div>

            <div class="panel-body" >


                 <!-- Formulario de ingreso-->
       
                  <form class="form-horizontal" name="logginForm" novalidate ng-submit="submitForm(logginForm.$valid)" >


                    <fieldset>
                         
                        

                         <div  >



                                <div class="input-group" ng-class="{ 'has-error' : logginForm.usuario.$invalid   && submitted  }">
                                        <span class="input-group-addon inicial "> 
                                        <span class="glyphicon glyphicon-user">  </span>
                                        </span>
   
                                        <input type="email" name="usuario" class="form-control"  placeholder="Ingrese su usuario" ng-model="formData.usuario"  required>
                                        
                                        <!--- <span ng-show="!logginForm.$pristine && logginForm.usuario.$error.required">El campo Usuario es obligatorio</span> -->
                                </div>

                                <div class="input-group" ng-class="{ 'has-error' : logginForm.password.$invalid   && submitted  }">

                                        <span class="input-group-addon inicial" ><span class="glyphicon glyphicon-modal-window"></span></span>

                                        <input  type="password" name="password" placeholder="Ingrese su contraseña"class="form-control" ng-model="formData.password"  required >
                                       
                                       <!-- <span ng-show="!logginForm.$pristine && logginForm.password.$error.required">El campo Usuario es obligatorio</span>-->
                                         
                                 </div>

                                <p class="errorText">{{erroresLoggin}}</p>

                        </div>           
                      <div >
                          <div >
                            <div>
                            <button type="submit" class="btn btn-igresar">Ingresar</button>
                            </div>
                    
                            <div>
                            <label > <a href="#/recuperarClave">Olvidé mi contraseña</a> </label>              
                          </div>
                             
                          </div>
                      </div>
                      
                  

                    </fieldset>
                  </form>


                  <!-- /Formulario de ingreso-->
              
            </div>
        </div>

      <!-- /Panel de Loggeo  -->

    </div>


</div>


<pwd-incorrecto></pwd-incorrecto>





