

<div >
    
    <div class="container-fluid">

      <!--  Panel de Loggeo -->

       
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">  RECUPERAR CONTRASEÑA </h3>
            </div>

            <div class="panel-body" >


                 <!-- Formulario de ingreso-->
       
                  <form class="form-horizontal" name="recuperarPassword" ng-submit="enviarUsuario(recuperarPassword.$valid)" novalidate>


                    <fieldset>
                         <div>
                               <img class="loggin-logo" src="img/logoEmpresa.png"/>
                          </div>
                        

                         <div  >


                          
                                <div class="input-group centrar">
                                      <p>Le ayudaremos a recuperar su contraseña, por favor ingrese su usuario:</p>
                                </div>

                                <div class="input-group" ng-class="{ 'has-error' : recuperarPassword.usuario.$invalid   && submitted  }">

                                        <span class="input-group-addon inicial"><span class="glyphicon glyphicon-modal-window"></span></span>

                                        
                                        <input  type="text" name="usuario" placeholder="Ingrese su usuario" class="form-control" ng-model="formData.usuario" required>
                                       
                                    
                                         
                                 </div>
                        </div>     
                        <br>      
                       <div >
                          <div >
                            <div>
                            <button type="submit" class="btn btn-primary"  >Enviar</button>
                      
                             <a href="#/"><button type="submit" class="btn btn-default">Regresar</button></a>
                            </div>
                    
                             
                          </div>
                      </div>
                      
                  

                    </fieldset>
                  </form>


                  <!-- /Formulario de ingreso-->
              
            </div>
        </div>

      <!--  /Panel de Loggeo -->

    </div>


</div>

<!-- ****************** DIRECTIVES   ************** -->

<popup-envio-email></popup-envio-email>
<mensajes-errores-globales></mensajes-errores-globales>


<!-- ****************** fin DIRECTIVES   ************** -->


